body{
    background:url("bg.jpg");
	color:black;
	font-family:sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
    text-decoration: underline;
    text-decoration-color:ivory;
}

.container{
	width:110%;
	margin:auto;
	overflow:hidden;
}

#main-header{
    background: coral;
    color: white;
    text-decoration-color: white;
    width: 1500px;
    height: 50px;
    transition: width 10s;
    -webkit-transition: width 30s;
    transition-timing-function: ease-in-out;
    
}
div:hover{
    width: 250px;
}

#profile{
    height: 80px;
    width: 80px;
    border: 10px solid white;
    border-radius: 40px;
    background: url("R.jpg") no-repeat;
    color:whitesmoke;
    text-decoration-color: black;
}
#music{
	background-color:#333;
    color:goldenrod;
    text-decoration-color: goldenrod;
    width: 1500px;
    height: 450px;
}

#music ul{
	padding-right:130px;
    padding-left: 130px;
	list-style: none;
}

#music li{
	display: table-cell;
}

#music a{
	color:#fff;
	text-decoration: underline;
	font-size:25px;
	padding-right:30px;
}

#music1{
	background-color:#333;
	color:goldenrod;
    text-decoration-color: goldenrod;
    width: 1500px;
    height: 450px;
}

#music1 ul{
	padding-right:130px;
    padding-left: 130px;
	list-style: none;
}

#music1 li{
	display: table-cell;
}

#music1 a{
	color:#fff;
	text-decoration: underline;
	font-size:25px;
	padding-right:30px;
	
}

#about{
	background-color:midnightblue;
    color:whitesmoke;
    text-decoration-color: goldenrod;
    width: 1500px;
    height: 1000px;
    display: inline;
}

#about ul{
	padding-right:130px;
    padding-left: 130px;
	list-style: none;
}

#about li{
	display: table-cell;
}

#about a{
	color:#fff;
	text-decoration: underline;
	font-size:25px;
	padding-right:30px;
	
}


#main-footer{
	background: silver;
	color:#000;
    width:1500px;
	text-align:left;
    padding:2.5px;
    margin-top: 40px;
}
